@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.87);
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

.top_bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: #fff;
  padding: 30px;
}

.top_bar nav {
  float: left;
}

.top_bar .social_media {
  float: right;
}

.top_bar nav a {
  color: #9f9f9f;
  text-decoration: none;
  font-weight: 500;
  margin: 0 53px;
  line-height: 23px;
}

.top_bar nav a:hover,
.top_bar nav a.active {
  color: #000;
}

.social_media a {
   padding: 0 13px;
    opacity: 0.5
}
.social_media a:hover {
    opacity: 1;
}

.bannier {
  background: no-repeat right center /cover url("images/bg_blog.jpg");
  height:450px;
}

.main {
  float: left;
  background-color: #fff;
  width: calc(100% - 375px);

}
.side_bar {
  float: right;
  background-color: #FBFBFB;
  width: 375px;
  padding: 40px;
  font-size: 17px;

}

.side_bar_title {
  font: size 30px;
  color: #000;
  margin: 15px 0;
}
.side_bar_title:first-child {
  margin-top: 0;
}

.side_bar ul  {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.side_bar li {
  padding: 6px 0;

}

.side_bar li:first-child {
  padding-top: 0;
}
.side_bar li:last-child {
  padding-top: 0;
}

.side_bar a {
  text-decoration: none;
  color: #9F9F9F;
}
.side_bar a:hover {
    text-decoration: underline;
    color: #5e5d5d;
}

.side_bar hr {
  border: none;
  background: #c4c4c4;
  height: 1px;
  margin: 50px 0;
}

.footer {
  clear: both;
  
}








































