@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    box-sizing: border-box;
    margin : 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100vh;
}

ul { list-style-type: none; }

a { text-decoration: none;  color: #444;}

/* header */
.navbar_top {
    background-attachment: fixed;
    background: rgb(252, 250, 250);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 18px;
    color: #444;
    z-index: 2;
}


.list ul {
    display: flex;
    flex-wrap: wrap;
}

.list ul li { padding-left: 20px; }

.gauche { margin-left: 50px;}
.droite { margin-right: 20px; }

.items_gauche:hover { text-decoration: underline;}

.cover_img { 
    position: relative;
    top: -2px;
    background: url(images/img_cover.jpg);
    width: 100%;
    height: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.cover_img .block_text { 
    color: #fff; 
    margin-top: 80px; 
    font-weight: bold;

}

.block_text h1 { font-size:40px;}

.block_text .btn_redmore { 
    background: rgb(241, 148, 110);
    padding: 10px;
    color : inherit;
    text-transform:  uppercase;
}

.main_article { 
    font-size: 17px;
    display: flex;
    justify-content: space-between;
}

.article {
    width: 80%;
}
.aside { 
    width: 20%;
    padding-left: 30px;
    background-color: #fbfbfb;
    height: 100vh;
}

.aside p { color: #9f9f9f}
.blog_items { 
    display: flex;
    justify-content: center;
    line-height: 24px;
    margin-top: 20px;
    margin-bottom: 30px
}

.images_bitcoins img{ 
    height:200px;
    padding-right: 20px;
}

.date_de_publication { 
    font-size: 12px;
    color: #9f9f9f
    
}